@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
 
//  add tailwind css
 
@import './variables.scss';
@import './breakpoints.scss';
@import './functions.scss';
@import './mixins.scss';

// Base & layout
@import './base.scss';
@import './grid.scss';
@import './spacing.scss';
// Colors
@import './colors.scss';

// Typography

// Components 
 @import './components/components.scss';

// Utilities

// Pages
@import './header.scss';
@import './footer.scss';

 
 
 .life{
    color: orange;
    font-size: 2rem;
 }

.design-system-header{
  @apply  px-4 md-px-8 lg-px-12 py-6 color-primary;
}


.svg-blue {
  fill: blue;
}